<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <title>{{title}}</title>
</head>

<body>
  {{>header}}
  <main class="main-content">
    <h3>To get started with the random gif generator, follow these rules:</h3>
    <ol>
      <li>Enter a tag into the input field (A tag can be any word, or phrase)</li>
      <li>Click on the Random Gif button</li>
      <li>????</li>
      <li>Profit</li>
    </ol>
  </main>
  {{>footer}}
</body>

</html>