<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <title>{{title}}</title>
</head>

<body>
  {{>header}}
  <main class="main-content">
    <form action="">
      <input type="text" placeholder="Enter tag here..." id="tagField">
      <button>Random Gif</button>
    </form>
    <p class="errorMessage"></p>
    <div style="width:100%;height:0;padding-bottom:83%;position:relative;"><iframe
        src="https://giphy.com/embed/3oEjI6SIIHBdRxXI40" width="100%" height="100%" style="position:absolute"
        frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
  </main>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>