body{
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 16px;
  align-items: center;
}

.giphy-embed{
  margin-top: 10px;
}

.footer-content{
  border-top: 1px solid #333333;
  text-align: center;
}

input,
button {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px 25px;
}

button {
  background: #888888;
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-size: 20px;
  font-weight: bold;
}